<p id="notice"><%= notice %></p>

<p>
  <strong>Class title:</strong>
  <%= @class_page.class_title %>
</p>

<p>
  <strong>Class content:</strong>
  <%= @class_page.class_content %>
</p>

<p>
  <strong>Order position:</strong>
  <%= @class_page.order_position %>
</p>

<%= link_to 'Edit', edit_class_page_path(@class_page) %> |
<%= link_to 'Back', class_pages_path %>
